body {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    background-color: grey;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    grid-area: logo;
}

main {
    padding: 1rem;
    background-color: grey;
}

.page {
    border: 3px solid grey;
    padding: 1rem;
}

/* Grid for product cards */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Create responsive columns */
    gap: 20px; /* Spacing between cards */
    padding: 20px 0; /* Padding for top and bottom */
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.product-date {
    font-size: 14px;
    color: #777;
}

.product-user {
    font-size: 14px;
    color: #555;
}

.add-product-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-product-button:hover {
    background-color: #0056b3;
}

#auth-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
}

.tab {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab a {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
}

.tab a.active {
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
